* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-position: -50% 50%, 110% -80%;
  font-family: Kumbh Sans;
  overflow: hidden;
  text-align: center;
}

.wrapper-top{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.wrapper-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 60%);
}

.card {
  position: absolute;
  background-image: url("images/bg-pattern-card.svg");
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 410px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  box-shadow: 0 25px 50px rgba(68, 68, 68, 0.3);
}

.profilepicture{
  margin-top: 30%;
  border: 5px solid white;
  border-radius: 50% 50%;
}

.lower{
  display: flex;
  justify-content: space-around;
}

.attribution{
  position: absolute;
  bottom: 5%;
  width: 100%;
}

h1>span{
  color: hsl(227, 10%, 46%);
  font-weight: lighter;
}

hr{
  margin-top: 25px;
}

h1{
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 25px;
}

h2{
  font-size: 0.8rem;
  font-weight: lighter;
  color: hsl(227, 10%, 46%);
  margin-top: 15px;
}
